#header {
	margin: 0px;
	height: 104px;
	width: 100%;
	background: #a9a9a9;
	border: 0px;
}

#headerLogo {
	position: absolute;
	left: 0px;
	height: 104px;
	width: 330;
	background: url(graphics/logo.gif);
}

table {
	border-collapse:collapse;
}
table tr td {
	padding-top: 5px;
        padding-right: 5px;
}

.odd  {
	background-color: #e7ffe3;
	font-size: 16px;
}
.even  {
	background-color: #fff;
	font-size: 16px;
}

#vm-name {
	padding-left: 10px;
}

#msg {
	margin-top: 20px;
	padding: 5px 5px 5px 20px;
	font-size: 18px;
	background-color: #000;
	color: #f0d700;
}

#menu {
	width: 100%;
}

#menu a {
	font-size: 16px;
	padding: 10px;
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

#main-menu {
        background-color: lightgreen;
        padding: 10px;
	margin-bottom: 10px;
}

#main-menu a {
        font-size: 16px;
        padding: 10px;
        color: black;
        text-decoration: none;
        font-weight: bold;
}

#content {
	font-size: 13px;
}

#content #domain-list {
	padding-left: 30px;
}

#content #domain-list th {
	padding-left: 30px;
}

#content #domain-list td {
	padding-left: 30px;
	text-align: center;
}

#content #domain-list .name {
	text-align: left;
}

#content #domain-list td a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size; 2em;
}

#content #form-table input {
	width: 200px;
}

#content #form-table .checkbox {
	width: 20px;
}

#content #form-table select {
	width: 200px;
}

#content .section {
	padding: 10px;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	background-color: #a9a9a9;
}

#content .screenshot {
	padding: 25px;
	text-align: center;
}

#content .item .label {
	width: 150px;
	padding-right: 10px;
	text-align: right;
	float: left;
	font-weight: bold;
}

#content .item .value {
	float: left;
}

#content .item .nl {
	clear: both;
}

#conn-list {
	width: 145px;
	float: left;
	background-color: #fff;
}

#conn-list a {
	font-size: 1.2em;
	padding: 10px;
	color: red;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

#conn-list p {
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
	padding: 0;
	margin: 10px 0 10px 0;
	text-align: center;
}

#conn-detail {
	margin-left: 150px;
}

.qr_line{
    clear:both;
    overflow:hidden;
    height:4px;
}

.qr_line b{
    background:#fff;
    width:4px;
    height:4px;
    float:left;
    overflow:hidden;
}

.qr_line i{
    background:#000;
    width:4px;
    height:4px;
    float:left;
    overflow:hidden;
}
