
body {
margin: 4;
font-family: lucida,verdana, arial, helvetica, sans-serif;
color: black;
background-color: #a9a9a9;
border-top: 15px #5555577 solid;
font-size: 12px;}

/* Banner across top of page that says the name of the whole site */

main-title {
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 25px;
padding-right: 0;
background-color: #a9a9a9;
#border-top: 1px black solid;
#border-bottom: 1px black solid;
color: #858587;
font-weight: bold;
font-size: 11px;
font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* Heading level 1 is not contained in main-text. */

h1 {
margin-top: 0;
margin-bottom: 15px;
margin-left: 190px;
margin-right: 60px;
font-size: 18px;
color: #000000;
border-bottom: 1px #999 dashed;
padding-bottom: 10px;
padding-top: 0;
padding-left: 0;
padding-right: 0;
font-weight: bold;
}

h2 
{
margin-top: 0;
margin-bottom: 15px;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 16px;
#color: #000066;
font-weight: bold;
}

h3 
{
margin-top: 0;
margin-bottom: 15px;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 18px;
color: #ffffff;
font-weight: bold;
}


/* Styles for the main text on the page. */

#main-text {
margin-top: 0;
margin-bottom: 50px;
margin-left: 170px;
margin-right: 50px;
height: 180px;}

li, p, ul, ol {
font-size: 14px;
line-height: 1.9em;
margin-top: 0;
margin-bottom: 17px;
margin-left: 0;
margin-right: 0;
padding: 0;
}



ol, ul {
margin-left: 25px;
}

a:link, a:visited {
color: #000000;
text-decoration: none;
font-weight: bold;
text-shadow: 1px 1px 1px #fff;
}

a:hover {
color: #f00;
text-shadow: 1px #ddd;
text-decoration: none;
}


#left-menu {
position: absolute;
top: 100px;
left: 5px;
width: 150px;
border-right: 1px #999 dashed;
text-align: left;
font-size: 1.3em;
}

#main-menu {
position: absolute;
top: 5px;
left: 25px;
text-align: left;
}

/* Styles for the navbar on the left side. */

#menu {
border-right: 1px #999 dashed;
text-align: center;
}

#main-menu {
padding-right: 0px;
margin-bottom: 5px;
font-size: 12px;
line-height: 25px;
background: #a9a9a9;
}

#menu p {
padding-right: 0px;
margin-bottom: 5px;
font-size: 12px;
line-height: 25px;
}

#main-menu a:link, #main-menu a:visited {
color: #000000;
}


#menu a:link, #menu a:visited {
color: #000000;
}

#menu a:hover, #menu a.current {
color: #000000;
}

/* Styles for the footer at the bottom of the page */

#footer {
text-align: left;
background-color: #000000;
color: #ffffff;
margin-bottom: 0;
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px black solid;
font-size: 16px;
word-spacing: 5px;
}

#footer a:link, #footer a:visited {
color: #ffffff;
}

#footer a:hover {
color: #9b1d03;
text-decoration: underline;
}

td, th {
        font-family: Lucida, Verdana, Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 11px;
        line-height: 16px;
        color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

form {
	background-color: #858587;
        text-align: left;
}

/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	.button {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 13px; font-size: 1.3rem;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	/* Hide inner focus effect in Firefox */
	button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
	}
	
	.button.nice { 
		background: #00a6fc;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -31px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -31px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
		border: 1px solid #0593dc;
		-webkit-transition: background-color .15s ease-in-out;
		-moz-transition: background-color .15s ease-in-out;
		-o-transition: background-color .15s ease-in-out;
	}

	.button.radius {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.align {
		text-align: left;
		text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.tiny.button			{ font-size: 10px; padding: 6px 14px 8px; width: auto; }
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Nice Sizes ---------- */
	.nice.tiny.button 		{ background-position: 0 -37px; }
	.nice.small.button 		{ background-position: 0 -34px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #00a6fc; }
	.purple.button			{ background-color: #5a34fe; }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	.green.button			{ background-color: #008833; }
	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc; }
	.nice.purple.button		{ border: 1px solid #4f09b8; }
	.nice.red.button		{ border: 1px solid #b90b0b; }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.black.button		{ border: 1px solid #000; }
	.nice.green.button		{ border: 1px solid #4a6b2d; }
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; }
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; }
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
	.green.button:hover, .green.button:focus	{ background-color: #44bb33; }	

	/* Hovers ---------- */
	.nice.button:active 	{ 
		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
	}
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
	
	/* Correct FF button padding */
	@-moz-document url-prefix("http://") {
		input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
		input[type=submit].tiny.button		{ padding: 5px 14px 7px; }
		input[type=submit].small.button		{ padding: 7px 20px 8px; }
		input[type=submit].medium.button	{ padding: 8px 34px 9px; }
		input[type=submit].large.button		{ padding: 9px 48px 10px; }
	}


